<!--<center>
  <img
    loading="eager"
    src="https://cdn.shopify.com/s/files/1/0532/6720/2223/files/hoody.png?v=1705002487"
    alt=""
    width="300"
    height="205"
  >
</center>-->

<div class="accordion-group" data-group-type="accordion-group">
  <hr />
  
  <div data-block-type="accordion">
    <details class="accordion group" is="accordion-disclosure" open="" style="">
      <summary>
        <span class="accordion__toggle">
          <span class="accordion__title">
            <h1 class="Heading u-h2">QUESTIONS?</h1>
          </span>
          <span class="accordion__glyph"></span>
        </span>
      </summary>
      
      <div class="accordion__content prose" style="opacity: 1; transform: translateY(0px);">
        <p>Email us at <a style="color: #954f72; font-size: 14px;" href="mailto:unitgear@cgexchange.org">unitgear@cgexchange.org</a></p>
      </div>
    </details>
  </div>

  <hr />
  
  <div data-block-type="accordion">
    <details class="accordion group" is="accordion-disclosure">
      <summary>
        <span class="accordion__toggle">
          <span class="accordion__title">
            <h1 class="Heading u-h2">Size Chart</h1>
          </span>
          <span class="accordion__glyph"></span>
        </span>
      </summary>
      
      <div class="accordion__content prose" style="opacity: 1; transform: translateY(0px);">
        <h3 class="yetiTitle">Carthart Hoodie</h3>
        <div class="table_00">
                                       
                                        <table class="sizeChart">
                                               
                                                <tbody>
                                                    <tr>
                                                        <th></th>
                                                        <th>CHEST</th>
                                                        <th>WAIST</th>
                                                        <th>HIP (SEAT)</th>
    
                                                    </tr>
                                                    <tr>
                                                        <td>SMALL</td>
                                                        <td>34 - 36</td>
                                                        <td>28 - 30</td>
                                                        <td>34 - 36</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MEDIUM</td>
                                                        <td>38 - 40</td>
                                                        <td>32 - 34</td>
                                                        <td>38 - 40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>LARGE</td>
                                                        <td>42 - 44</td>
                                                        <td>36 - 38</td>
                                                        <td>42 - 44</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XL</td>
                                                        <td>46 - 48</td>
                                                        <td>40 - 42</td>
                                                        <td>46 - 48</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2XL</td>
                                                        <td>50 - 52</td>
                                                        <td>44 - 46</td>
                                                        <td>50 - 52</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3XL</td>
                                                        <td>54 -56</td>
                                                        <td>48 - 50</td>
                                                        <td>54 - 56</td>
                                                    </tr>
                                                    <tr><td>4XL</td>
                                                    <td>58 - 60</td>
                                                    <td>52 - 54</td>
                                                    <td>58 - 60</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5XL</td>
                                                        <td>62 - 64</td>
                                                        <td>56 - 58</td>
                                                        <td>62 - 64</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6XL</td>
                                                        <td>66 - 68</td>
                                                        <td>60 - 62</td>
                                                        <td>66 - 68</td>
                                                    </tr>
                                                </tbody>
                                         
                                        </table>
                                                  <caption>
                                                    <p tabindex="0" class="d16_m14_lft">
                                                    <strong>Note: </strong>
                                                    <i>If your measurement falls between sizes, buy the larger size.</i></p>
                                                    <p tabindex="0" class="d16_m14_lft">
                                                        Units are expressed in inches and reflect general body dimensions. Measurements are approximate.
                                                        </p>
                                                </caption>
                                    </div>
      </div>
    </details>
  </div>

  <hr />
</div>